<h1 style="color: green; font-style: italic;"> 
    PROYECTO SALAS PASSARDI
</h1> 
<h3> 
    Build a Simple Web App with Express & Angular 
</h3> 
<h5> 
    The below message is fetched from the express backend 
</h5> 
<div *ngIf="users.length > 0"> 
    <ul>
        <li *ngFor="let user of users">
            ID: {{ user.id }}<br>
            Name: {{ user.name }}<br>
            Email: {{ user.email }}<br>
            Created: {{ user.created }}
        </li>
    </ul>
</div>
<p *ngIf="users.length === 0">No users found</p>
